/* เพิ่มสไตล์ที่เกี่ยวข้องกับรูปแบบสไลด์ */
.carousel {
  width: 40%; /* ปรับขนาดของ Carousel */
  margin: 0 auto;
}
.carousel-item img {
  width: 100%; /* ปรับขนาดของรูปภาพสินค้า */
  height: auto;
}
body{
  background-color: rgb(215, 228, 193);
}
.content {
  background-color: rgb(252, 248, 232);
  padding: 16px;
  text-align: right;
  border-radius: 5px;
  font-size: 16px;
}
.product-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.product-image {
  flex: 0 0 auto;
  margin-right: 10px;
}

.product-image img {
  max-width: 100px;
  height: auto;
}

.product-details {
  flex: 1 1 auto;
}

.product-price {
  font-weight: bold;
  color: green;
}

.add-to-cart {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
