body{
    background-color: rgb(249, 240, 211); 
    padding: 0px;
    margin: 0px;
}
header{
    padding: 15px 50px;
    margin: 0px;
    background-color: rgb(255, 199, 96);
    text-align: right;
}
h1{
    margin: 0px;
}
.div1 {
    display: flex;
    background-color: rgb(249, 153, 201);
    height: 50vh;
    padding: 10px;
}

.productItem{
    background-color: rgb(247, 249, 232);
    margin: 10px;
    width: 200px;
    height: 200px;
}
.div2{
    background-color: rgb(193, 239, 217);
    height: 30vh;
}
image{
    width: 300px;
    height: 300px;
    border-radius: 30%;
}
.bg-green{
    background-color: rgb(47, 255, 189);
}
nav ul li {
    display: inline-block;
    background: #000;
    color: #D7cfcf;
    width: 150px;
    text-align: center;
    padding: 10px;
}
footer{
    background-color: rgb(238, 138, 138);
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}
@media  only screen and {max-width: 
    
}