body{
    background-color: rgb(255, 255, 255); 
    padding: 0px;
    margin: 0px;

}
header{
    padding: 50px 50px;
    margin: 0px;
    height: 15px;
    background-color: rgb(73, 117, 211);
    text-align: right;
}
footer{
    background-color: rgb(13, 0, 131);
    position: fixed;
    height: 10%;
    padding: 10px;
    width: 100%;
    margin:0p;
    bottom: 0; 
  
      
}

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-gap: 10px;
  }
  
  
  .tarang {
    padding: 20px;
    background-color: #da6d01;
    height: 25vh;
    margin: 20px;
    border-radius: 5px;
  }
  
/*.taran {
    background-color: rgb(246, 107, 0);
    margin: 20px;
    width: 200px;
    height: 200px;
    
}

/*@media (min-width: 1400px) {
    .container {background-color: rgb(255, 255, 255);
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-gap: 20px;}
        
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    
}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
    }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    
    }
}
@media(min-width: 1400px) {
    .container {background-color: rgb(255, 255, 255);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
    }
}
/*